<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new Password</title>
</head>

    <body>
    <h1>new Password</h1>

    <form action="#" th:action="@{/new-password-submit}" th:object="${newPasswordDto}" method="post">
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}"/><br/>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>

        <label for="reconfirmPassword">Confirm Password:</label>
        <input type="password" id="reconfirmPassword" th:field="*{reconfirmPassword}"/><br/>
        <div th:if="${#fields.hasErrors('reconfirmPassword')}" th:errors="*{reconfirmPassword}">Confirm Password Error</div>

        <button type="submit">Submit</button>
    </form>
    </body>
</html>