<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verification Code</title>
</head>
<body>
<h1>Verification Code</h1>
<form action="#" th:action="@{/verification-code-submit}" method="post">

    <div th:text="${verificationCode}"></div>

    <label for="userVerificationCode">Enter Verification Code:</label>
    <input type="text" id="userVerificationCode" name="userVerificationCode" required/><br/>

    <!-- 오류 메시지 표시 -->
    <div th:if="${verificationError}" class="error-message">
        <p th:text="${verificationError}"></p>
    </div>

    <button type="submit">Verify Code</button>
</form>
</body>
</html>